body {
	background-color:#11090a;
	font-family:Arial, Helvetica, sans-serif;
	background-image: url('../img/stars.jpg'); 
	background-repeat: repeat-x y;
	background-color: #000000;
	color: #fff;
	margin:0px;
	padding:0px;
}

#container {
	background-image:url('../img/background_long.jpg'); 
	background-repeat:no-repeat; 
	background-color: #000000;
	max-width:940px;
	margin: auto;
	padding:12px;
}

p { margin-bottom: 12px; }

/*
	Logo / Menu / Panel Positioning
*/

#logo { top:0px; left:51px; }


/*
	Content
*/

#content {
	padding-top:35px;
	width:935px;
	color:#674f5d;
	font-size:13px;
	line-height:20px;
}

article.band-member {
	clear:both;
	height: 300px;
}

article.band-member > img {
	float:left;
	display: inline-block;
	margin-right: 12px;
	margin-bottom:24px;
}



/* footer */
footer {
	background-color: #11090a;
	border-top:1px solid #3f2324;
	padding:20px 50px 80px 50px;
	color:#674f5d;
	font-size:11px;
	line-height:14px;
}
footer img {
	float:left;
	margin-right:10px;
}
#footertext {
	float:left;
	display:inline;
}
footer a {
	color:#9e8292;
	text-decoration:none;
}
footer a:hover { color:#fff; }

#footerIcons img { float: right; display:inline; height: 48px; }

footer, #container:after{
	height:150px;
}

/*
	General Styles
*/

a img { border:0px }
a:visited { color: #FFFFFF; }
a:link { color: #FFFFFF; }
a:hover { color: #FF0000; }
a:active { color: #FF0000; }

#item { 
    position: relative; display: block;
    
}

#item .pic {
				border-style: solid;
				border-width: 0;
				margin: 5px 12px;
				float: left;
}

#music a:visited { color: #FFFFFF; }

#music a:link { color: #FFFFFF; }
#music a:active { color: #FF0000; }

#music a:hover { color: #FF0000; }

.lyricicon { padding: 0px; height: 16px; }
	
#links ul.work li a {
	text-align: center;
	font-family:Georgia, "Times New Roman", Times, serif;
	color:#dbaa70;
	font-size: 30px;
	margin:10px 0px 25px 0px;
	font-weight:normal;
	display:block; 
}	

#links ul.work li a:hover {
	color: #ffffff;
}